@using EyeProtect.Core.Enums
@{
    ViewData["Title"] = "Eye后台管理";
    ViewData["Tabs"] = "账号管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrap-container clearfix">
    <div class="column-content-detail">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline tool-btn">
                    <div class="layui-btn" id="export">
                        <i class="layui-icon layui-icon-export"></i>
                    </div>
                </div>
                <div class="layui-inline">
                    <input type="text" name="account" placeholder="请输入账号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <select name="states" lay-filter="status">
                        <option value="">请选择一个状态</option>
                        <option value="0">已售出</option>
                        <option value="1">已过期</option>
                        <option value="2">未出售</option>
                    </select>
                </div>
                <button type="button" class="layui-btn layui-btn-normal" lay-submit="search" id="search">搜索</button>
            </div>
        </form>
        <div class="layui-form" id="table-list">
            <table id="accountList" lay-filter="test">
            </table>
        </div>
    </div>
</div>
    
<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#accountList',
            height: 650,
            limit: 20,
            url: baseUrl + '/Account/MemberPageList', //数据接口
            request: {
                pageName: 'pageIndex', //页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            response: {
                msgName: 'message', //规定状态信息的字段名称，默认：msg
                countName: 'totalCount', //规定数据总数的字段名称，默认：count
            },
            page: true, //开启分页
            cols: [[ //表头
                { field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left' },
                { field: 'account', title: '账号', sort: true },
                { field: 'password', title: '密码', },
                { field: 'accountTypeMsg', title: '使用情况', templet: '#accountTypeMsgTpl' },
                { fixed: 'right', title: '操作', templet: '#operate' }
            ]],
            error: function (result) {
                //if (result.status == 401)
                //    TokenExpire();
            }
        });

        $('#search').on('click', a = function () {
            var account = $("input[name='account']").val();
            var accountType = $("select[name='states'] option:selected").val();
            table.reload("accountList", {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    account: account == null ? "" : account,
                    accountType: accountType == "" ? "" : accountType,
                }
            });
        });

    });

</script>

<script type="text/javascript">
    var table = layui.table;
    function UpdateAccountType(id, accountType, operateAccountType) {
        var input = {
            AccountType: accountType,
            OperateAccountType: operateAccountType
        };
        $.ajax({
            url: baseUrl + "/Account/UpdateAccountType?id=" + id,
            type: "put",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(input),
            success: function (result) {
                if (result && result.code == 0) {
                    table.reload("accountList", {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            account: null,
                            accountType: "",
                        }
                    });
                }
                else {
                    layer.alert(JSON.stringify(result.message));
                }
            }
        });
    }

    $('#export').on('click', function () {
        var url = baseUrl + "/Account/ExportMemberList";
        var f1 = $.ajax({
            url: url,
            type: 'post',
            xhrFields: {
                responseType: 'blob'
            },
        });
        $.when(f1).then(function (content, status) {
            if (status == "success") {
                console.log("开始下载");
                var a = document.createElement('a')
                var blob = new Blob([content])
                var url = window.URL.createObjectURL(blob)
                a.href = url
                a.download = "账号列表.xlsx"
                a.click()
                window.URL.revokeObjectURL(url);
            }
        }, function () {
            //失败回调，任意一个请求失败时返回
            console.log("失败");
            console.log('error');
        })
    });
</script>

@{
    var reSale = (int)OperateAccountType.ReSale;
    var sale = (int)OperateAccountType.Sale;
}
<script type="text/html" id="operate">
    {{#  if(d.accountTypeMsg == '已过期'){ }}
      <a href="javascript:void(0)" onclick="UpdateAccountType({{d.id}},@reSale));" class="layui-table-link">续费</a>
    {{#  } else if(d.accountTypeMsg == '未出售'){ }}
      <a href="javascript:void(0)" onclick="UpdateAccountType({{d.id}},@sale);" class="layui-table-link">出售</a>
    {{#  } }}
</script>

<script type="text/html" id="accountTypeMsgTpl">
     {{#  if(d.accountTypeMsg == '已使用'){ }}
      <button class="layui-btn layui-btn-mini layui-btn">{{d.accountTypeMsg}}</button>
    {{#  } else if(d.accountTypeMsg == '已过期'){ }}
      <button class="layui-btn layui-btn-mini layui-btn-danger">{{d.accountTypeMsg}}</button>
    {{#  } else if(d.accountTypeMsg == '未使用'){ }}
      <button class="layui-btn layui-btn-mini layui-btn-normal">{{d.accountTypeMsg}}</button>
    {{#  } else if(d.accountTypeMsg == '未出售'){ }}
      <button class="layui-btn layui-btn-mini layui-btn-warm">{{d.accountTypeMsg}}</button>
    {{#  } }}
</script>

