@{
    ViewData["Title"] = "Eye后台管理";
    Layout = "";
}
<link rel="stylesheet" type="text/css" href="~/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="~/css/login.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.cookie.min.js"></script>
<script src="~/layui/layui.js"></script>
<script src="~/js/common.js"></script>
<div class="m-login-bg">
    <div class="m-login">
        <h3>后台系统登录</h3>
        <div class="m-login-warp">
            <form class="layui-form">
                @Html.AntiForgeryToken()
                <div class="layui-form-item">
                    <input type="text" name="title" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="login">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="copyright">Copyright 2022-2023 by Hongyu</p>
    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer;


        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            },
            password: [/(.+){6,12}$/, '密码必须6到12位'],
        });


        //监听提交
        form.on('submit(login)', function (data) {
            event.preventDefault();
            var input = {
                Account: data.field.title,
                Password: data.field.password
            };
            $.ajax({
                url: baseUrl + "/System/Login",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(input),
                success: function (result) {
                    if (result && result.code == 0) {
                        delToken();
                        var data = result.data;
                        setToken(data.token);
                        window.location.replace(baseUrl + "/System/Index");
                    }
                    else {
                        layer.alert(JSON.stringify(result.message));
                    }
                }
            });
        });

    });
</script>